/* #header.fixed수정 */

.Dr_Top_Wrap{background-color: rgba(255, 255, 255, 0.7);}
/* .Dr_Top_Wrap .Dr_Top_Inner{background: transparent;}

.Dr_Top_Wrap .Dr_Top_Inner .Dr_Top_M{
  display: none !important;
} */

/* #header.fixed끝 */

