<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer id="footer"><div class="inner">
        
    <div class="bottom_logo">
        Maybebaby and Dearest
    </div>
    
    <div class="sns_area">
        <a href="https://www.instagram.com/maybebaby.official/" target="_blank"><i class="ph-instagram-logo"></i> INSTAGRAM</a>
    </div>
    
    <div style="margin:auto;text-align:center;padding:0;font-size:1.1em;" class="xans-element- xans-layout xans-layout-multishoplist thumb mobile_global "><div class="mobile_global_title"><i class="ph-globe-thin"></i></div>
<ul class="xans-element- xans-layout xans-layout-multishoplistitem"><li class="selected xans-record-">
                <a href="//maybe-baby.co.kr/">kr</a>
            </li>
<li class=" xans-record-">
                <a href="//maybe-baby.cn/">cn</a>
            </li>
<li class=" xans-record-">
                <a href="//en.maybe-baby.co.kr/">EN</a>
            </li>
<li class=" xans-record-">
                <a href="//maybe-baby.jp/">jp</a>
            </li>
</ul>
</div>
    
      
    
    <div class="footer_top">

        <ul><li><a href="/shopinfo/company.html">About</a></li>
            <li><a href="/shopinfo/guide.html">Guide</a></li>
            <li><a href="/board/faq/3/">FAQ</a></li>
            <li><a href="/member/mall_agreement.html">Terms of Use</a></li>
            <li><a href="/member/privacy.html">Privacy Policy</a></li>
            <li><a href="https://service.epost.go.kr/iservice/" target="_blank">Order Tracking</a></li>
            <li><a href="/product/list.html?cate_no=26">Private Order</a></li>
        </ul><ul><li><a href="/myshop/order/list.html">비회원 주문조회</a></li>
            <li><a href="/myshop/recent_list.html">최근 본 상품</a></li>
        </ul></div>

    
    <div class="xans-element- xans-layout xans-layout-info bottom_info "><ul>
<li>Customer Care : 02-1644-7305 (pm 1:00~pm 5:00)<br>
Closed Sat, Sun Holiday</li>
        </ul>
</div>
    <div class="bank_info">
        <ul><li>우리 1005-302-806886</li>
            <li>국민 867701-04-095785</li>
            <li>농협 301-0178-9570-71</li>
            <li>예금주 : (주)메이크엠</li>
        </ul></div>
    <div class="xans-element- xans-layout xans-layout-footer footer_info "><p class="address">
            <span>(주)메이크엠 / CEO : 이겨레 / 267-87-00152 <a href="#none" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=2678700152', 'bizCommPop', 'width=750, height=950;');return false;">[Check]</a> / 2015-서울서초-1597 / 1644-7305</span> 
            <span>서울특별시 서초구 서초대로 67 (방배동) 6층 (06571)</span>
            <span>Wholesale/Partnership 대량주문/협력문의 makemco@naver.com</span>
            <span>저작권침해/도용/영업방해 제보 : makemco@naver.com</span>
            <!--<span>Personal Information Manager : <a href="mailto:maybe_baby@naver.com">이겨레</a><a href="mailto:maybe_baby@naver.com" style="text-transform:none;">(maybe_baby@naver.com)</a></span>
            <span>Contact <a href="mailto:maybe_baby@naver.com" style="text-transform:none;">maybe_baby@naver.com</a> for more information.</span>
            <span>Hosting by Cafe24</span>-->
        </p>
<!--
        <p class="copyright">Copyright &copy; 메이비베이비 all rights reserved / <a href="http://hazeldesign.co.kr" target="_blank">Design by Hazel</a></p>
        <p class="pageTop"><a href="#header" title="화면 최상단으로 이동하기">Top ↑</a></p>
        <p class="hosting"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/logo_cafe24.png" alt="hosting by cafe24 카페24(주)" /></p>-->
</div>
    
   <div class="xans-element- xans-layout xans-layout-footer copyright "><span>Copyright © MAKE M Co.,LTD all rights reserved</span>
</div>

    
    
        <!--
            <div module="Layout_ReferenceCurrencyList" class="list">
                @css(/css/module/layout/multiCurrency.css)
                <button type="button" class="toggle" id="reference_currency_button">
                    <span class="btn-global">참조화폐</span>
                    <span class="currencyNow">{$current_reference_currency_code} {$current_reference_currency_symbol}</span>
                </button>
                <ul module="Layout_ReferenceCurrencyListitem" class="multicurrencylistitem" id="reference_currency_list">
                    <li class="">
                        <a href="#">
                            <span class="name">{$reference_currency_code}</span>
                            <span class="unit">{$reference_currency_symbol}</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="name">{$reference_currency_code}</span>
                            <span class="unit">{$reference_currency_symbol}</span>
                        </a>
                    </li>
                </ul>
            </div>-->
    
</div>
</footer>
</body>
</html>